In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ENSO.csv', parse_dates=['date'])

dat = data.copy()
dat['year'] = dat.date.dt.year
dat['month'] = dat.date.dt.month
dat['month_str'] = dat.date.dt.strftime('%b')
dat = dat.drop(columns=['date'])
dat_pivoted = dat.pivot(index='year', columns='month')
dat_pivoted.columns = ["_".join(str(x) for x in a) for a in dat_pivoted.columns.to_flat_index()]
dat_pivoted.shape

dat_pivoted

,global temperature anomalies_1,global temperature anomalies_2,global temperature anomalies_3,global temperature anomalies_4,global temperature anomalies_5,global temperature anomalies_6,global temperature anomalies_7,global temperature anomalies_8,global temperature anomalies_9,global temperature anomalies_10,...,month_str_3,month_str_4,month_str_5,month_str_6,month_str_7,month_str_8,month_str_9,month_str_10,month_str_11,month_str_12
year,,,,,,,,,,,,,,,,,,,,,
1950,-0.20,-0.26,-0.08,-0.16,-0.02,-0.02,-0.09,-0.09,-0.06,-0.14,...,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1951,-0.31,-0.37,-0.16,-0.09,0.04,0.03,0.10,0.11,0.17,0.13,...,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1952,0.14,0.11,-0.03,0.07,0.08,0.05,0.07,0.06,0.09,0.01,...,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1953,0.07,0.15,0.14,0.26,0.20,0.21,0.08,0.10,0.07,0.13,...,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1954,-0.20,-0.06,-0.14,-0.08,-0.12,-0.06,-0.09,-0.05,-0.02,-0.01,...,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,0.91,0.91,1.16,1.02,0.90,0.90,0.91,0.91,0.96,1.00,...,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
2020,1.13,1.19,1.16,1.13,0.99,0.92,0.90,0.89,0.97,0.90,...,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
2021,0.83,0.66,0.88,0.79,0.81,0.85,0.91,0.83,0.91,0.99,...,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
2022,0.92,0.91,1.11,0.89,0.86,0.89,0.88,0.92,0.89,0.96,...,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
2023,0.87,1.00,1.23,0.98,0.96,1.05,NaN,NaN,NaN,NaN,...,Mar,Apr,May,Jun,NaN,NaN,NaN,NaN,NaN,NaN