In [1]:
import pandas as pd #type: ignore

In [2]:
data = pd.read_csv('weather.csv', parse_dates=['date'])

dat = data.copy()
dat['year'] = dat.date.dt.year
dat['day_of_year'] = dat.date.dt.day_of_year
# holder = dat['date']
dat = dat.drop(columns=['date']).pivot(index='year', columns='day_of_year')
dat.columns = ["_".join(str(x) for x in a) for a in dat.columns.to_flat_index()]
# dat['day_of_year'] = holder.dt.day_of_year

dat.head()

,max_temp_1,max_temp_2,max_temp_3,max_temp_4,max_temp_5,max_temp_6,max_temp_7,max_temp_8,max_temp_9,max_temp_10,...,snowdepth_47,snowdepth_48,snowdepth_49,snowdepth_50,snowdepth_51,snowdepth_52,snowdepth_53,snowdepth_54,snowdepth_55,snowdepth_56
year,,,,,,,,,,,,,,,,,,,,,
1947,30.0,44.0,54.0,42.0,33.0,33.0,34.0,35.0,31.0,30.0,...,M,M,M,M,5.0,9.0,7.0,7.0,8.0,6.0
1948,46.0,41.0,32.0,34.0,34.0,32.0,32.0,41.0,49.0,33.0,...,0.0,0.0,0.0,0.0,M,M,3.0,T,0.0,M
1949,31.0,34.0,40.0,43.0,55.0,54.0,49.0,56.0,61.0,53.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1950,49.0,53.0,61.0,69.0,54.0,53.0,43.0,30.0,48.0,59.0,...,T,T,0.0,T,T,0.0,0.0,0.0,T,T
1951,40.0,46.0,52.0,50.0,41.0,46.0,36.0,23.0,30.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0